@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1200px){ /* TABLET */
    body {
        background-image: linear-gradient(to bottom, #00090D, #011F26, #022601, #BF3604);
        background-repeat: no-repeat;
        width: 100vw;
    }

    main {
        position: static;
    }
    
    #quadrado {
    width: 550px;
    height: 320px;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    border-radius: 0px 10px 10px 0px; 
    }

    #img {
        top: 31%;
        left: 10%;
        transform: translate(-50%, -50%);
    }

    #predio {
        position: absolute;
        width: 300px;
        height: 340px;
        border-radius: 10px 0px 0px 10px;
        border: 1px solid black;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.411);
    }
}