@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){ /* TABLET */
    body {
        background-image: linear-gradient(to bottom, #00090D, #011F26, #022601);
        background-attachment: fixed;
    }
    
    #quadrado {
        width: 80vw;
    }

    #img {
        float: left;
        width: 30%;
        height: 100%;
    }

    #cabeca {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 1201px) {
    body {
        background-image: linear-gradient(to bottom, #00090D, #011F26, #022601, #691e02);
        background-attachment: fixed;
    }

    main {
        position: absolute;
    }
    
    #quadrado {
        position: absolute;
        width: 750px;
        height: 350px;
        top: 50.3%;
        left: 30%;
        transform: translate(-50%, -50%);
        border-radius: 10px 0px 0px 10px; 
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.411)
    }

    #img {
        top: 50%;
        right: 60.5%;
        transform: translate(-50%, -49%);
    }
}