@charset "UTF-8";

/* Tabela de cores 

#00090D - mais escuro para baixo vai ficando mais claro 
#011F26
#022601

*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: lightgrey;
}

main {
    background-color: white;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}